# The username used to access the API
# Highly recommended to use admin accounts
username=

# The URL to access the Chat API
# format -> IP:port
host=

# The interval between activity data collects
collect_interval=
